<div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/ssoredirect}">Go To IDP</a></li>
                </ul>

            </div>
        </div>
    </nav>

	<!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Login Dashboard</h1>
        <p class="lead">Making SSO easier everyday!</p>
      </div>
    
</div>

