<!DOCTYPE html>
<html>
<head lang="en">

    <title>LoginApp</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
     <!-- Example row of columns -->
      <div class="row">

        <div class="col-lg-12">
          <h2>SAML2 Authentication Request Example</h2>
          <p><a class="btn btn-lg btn-success" href="/ssoredirect" role="button">Redirect To IDP!</a></p>
       </div>
      </div>
</div>
</body>
</html>